{% extends "master.twig" %}

{% block title %}{{boardName}} - {{LANG_LOGIN}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<div class="row">
	<div class="span5 offset6">
		<div class="well">
			<!-- validation box. -->
			<div class="hideElement alert alert-error" id="div_ErrMsgLogin" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateLogin"></span>
			</div>
			<legend>{{LANG_LOGIN}}</legend>	
			{{LOGINFORM_FULL|raw}}
				<input class="span3" placeholder="{{LANG_USERNAME}}" type="text" name="username" tabindex="1" id="usr" />
				<input class="span3" placeholder="{{LANG_PASSWORD}}" type="password" name="password" tabindex="2" id="pwd" />
				<label class="checkbox">
				<input type="checkbox" name="remember" value="1" /> {{LANG_REMEMBERTXT}}
				</label>
				<button class="btn-primary btn icon-signin" type="submit"> {{LANG_LOGIN}}</button>
				<button class="btn-primary btn icon-user" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/register');return false;"> {{LANG_REGISTER}}</button>
				<button class="btn-primary btn icon-lock" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/resetpassword');return false;"> {{LANG_FORGOT}}</button>
			</form>    
		</div>
	</div>
</div>
<script type="text/javascript">
$('#usr').focus();
new FormValidator('frmLogin', [{
	name: 'username',
	display: '{{LANG_USERNAME}}',
	rules: 'required'
}, {
	name: 'password',
	display: '{{LANG_PASSWORD}}',
	rules: 'required'
}], function(errors, event) {

	if (errors.length > 0) {
		$('#validateLogin').empty();
		$('#validateLogin').append(errors.join('<br />'));
		$('#div_ErrMsgLogin').show();
	} else {
		event.returnValue = true; //allow form to process.
	}

});
</script>

{% endblock %}
