{% extends "master.twig" %}

{% block title %}{{boardName}} - {{LANG_LOGIN}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<div id="box">
	<div class="block" id="block-login">
		<h2>{{LANG_LOGIN}}</h2>
        <div class="content login">
			
			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsgLogin" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateLogin"></span>
			</div><br />

			{{LOGINFORM_FULL|raw}}
				<div class="group buffer">
					<div class="left">
						<label class="label right">{{LANG_USERNAME}}</label>
					</div>
					<div class="right">
						<input type="text" name="username" class="text_field" tabindex="1" id="usr" />
						<span class="description">{{URL_TAG("/register", LANG_REGISTER)|raw}}</span>
					</div>
				</div>
				<div class="group buffer">
					<div class="left">
						<label class="label right">{{LANG_PASSWORD}}</label>
					</div>
					<div class="right">
						<input type="password" name="password" class="text_field" tabindex="2" id="pwd" />
						<span class="description">{{URL_TAG("/resetpassword", LANG_FORGOT)|raw}}</span>
					</div>
				</div>
				<div class="group navform buffer">
					<button class="button" type="submit">
						<span class="icon-signin"></span>&nbsp;{{LANG_LOGIN}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#usr').focus();
new FormValidator('frmLogin', [{
	name: 'username',
	display: '{{LANG_USERNAME}}',
	rules: 'required'
}, {
	name: 'password',
	display: '{{LANG_PASSWORD}}',
	rules: 'required'
}], function(errors, event) {

	if (errors.length > 0) {
		$('#validateLogin').empty();
		$('#validateLogin').append(errors.join('<br />'));
		$('#div_ErrMsgLogin').show();
	} else {
		event.returnValue = true; //allow form to process.
	}

});
</script>

{% endblock %}
