{% extends "master.twig" %}

{% block title %}{{boardName}} - {{LANG_PWDRECOVER}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<div id="box">
	<div class="block" id="block-login">
		<h2>{{LANG_PWDRECOVER}}</h2>
        <div class="content login">
			
			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateRes"></span>
			</div><br />

			{{PWDRECOVERFORM|raw}}
				<div class="group">
					<div class="fieldWithErrors">
						<span class="error">{{VALIDATION_USERNAME_EMAIL}}</span><br />
						<label class="label">{{LANG_USERNAME}}/{{LANG_EMAIL}}</label>
					</div>
					<input type="text" name="recover_info" class="text_field" id="recover_info" />
					<span class="description">{{URL_TAG("/register", LANG_REGISTER)|raw}}</span>
				</div>
				<div class="group navform buffer">
					<button class="button" type="submit">
						<span class="icon-key"></span>&nbsp;{{LANG_GETPASS}}
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#recover_info').focus();
new FormValidator('frmPasswordRecovery', [{
    name: 'recover_info',
    display: '{{LANG_USERNAME}} / {{LANG_EMAIL}}',
    rules: 'required'
}], function(errors, event) {

    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else {
        event.returnValue = true; //allow form to process.
    }
    
});
</script>
{% endblock %}
