{% extends "master.twig" %}

{% block title %}{{boardName}} - {{LANG_PWDRECOVER}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<div class="row">
	<div class="span4 offset6">
		<div class="well">
			<!-- validation box. -->
			<div class="hideElement alert alert-error" id="div_ErrMsg" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateRes"></span>
			</div>
			<legend>{{LANG_PWDRECOVER}}</legend>	
			{{PWDRECOVERFORM|raw}}
				<span class="text-error">{{VALIDATION_USERNAME_EMAIL}}</span><br />
				<input class="span3" placeholder="{{LANG_USERNAME}}/{{LANG_EMAIL}}" type="text" name="recover_info" id="recover_info" />
				<button class="btn-primary btn icon-lock" type="submit"> {{LANG_GETPASS}}</button>
				<button class="btn-primary btn icon-user" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/register');return false;"> {{LANG_REGISTER}}</button>
			</form>    
		</div>
	</div>
</div>
<script type="text/javascript">
$('#recover_info').focus();
new FormValidator('frmPasswordRecovery', [{
    name: 'recover_info',
    display: '{{LANG_USERNAME}} / {{LANG_EMAIL}}',
    rules: 'required'
}], function(errors, event) {

    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else {
        event.returnValue = true; //allow form to process.
    }
    
});
</script>
{% endblock %}
