<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jtable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {        
       $('#attachments').jtable({
			messages: lang,
			title: '{{LANG_MANAGEATTACHMENTS}}', //title of grid.
			paging: true, //allow paging
			pageSize: '{{PER_PAGE}}', //indicates number of rows in a page.
			sorting: true, //allow sorting
			defaultSorting: 'Filename ASC', //sets the default column to sort by and how.
			columnResizable: true, //allows user to resize data columns by dragging.
			columnSelectable: false, //allows user to show/hide data columns by right clicking table header.
			deleteConfirmation: true, //can toggle prompt or override plugin's default prompt.
			selecting: false, //Enable selecting
			multiselect: false, //Allow multiple selecting
			selectingCheckboxes: false, //Show checkboxes on first column
			selectOnRowClick: false, //Enable this to only select using checkboxes
			ajaxSettings: { type: 'GET' },
            actions: {
				listAction: '{{BOARD_URL}}grid/listattachments'
			},
			fields: {
				id: {
					key: true,
					create: false,
					edit: false,
					list: false
				},
				Filename: {
					title: '{{LANG_FILENAME}}',
					width: '40%'
				},
				File_Size: {
					title: '{{LANG_FILESIZE}} (Kb)',
					width: '20%'
				},
				topic: {
					title: '{{LANG_TOPIC}}',
					width: '40%'
				},
				CmdDeleteFile: {
					title: '',
					width: '3%',
					sorting: false,
					edit: false,
					create: false,
					display: function (data) {
						var $img = $('<div class="board-grid-icons btn-delete" title="{{LANG_DELETEFILE}}"></div>');
						//delete selected record when user clicks the image.
						$img.click(function () {
							var btnDelete = {};
							btnDelete['{{LANG_YES}}'] = function() {
								$(this).dialog('close');
								$.get('{{BOARD_URL}}ucpform/deleteattachment/'+data.record.id, function() {
									//reload grid.
									$('#attachments').jtable('load');
								}).error(function() { alert("error"); });
							 };
							 btnDelete['{{LANG_NO}}'] = function() {
								 $(this).dialog("close");
							 };

							$("#dlgConfDelete").text('{{LANG_DELETEFILE}} `'+data.record.Filename+'`?');
							$("#dlgConfDelete").dialog({
								modal: true,
								width: '350',
								height: '125',
								title:  '{{LANG_DELETEFILE}}?',
								closeOnEscape: true,
								buttons: btnDelete
							});
						});
						//Return image to show on the row.
						return $img;
					}
				}
			}
        });    
		
		//Load attachment list from server
		$('#attachments').jtable('load');
    });
</script>
<div id="dlgConfDelete" class="hideElement"></div>
<div id="attachments"></div>