<div class="block" id="block-forms">
	<div class="content">

		<div class="inner">

			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateRes"></span>
			</div>
			
			{{UCPMESSENGERFORM|raw}}
			<div class="group">
				<label class="label">{{LANG_MSN}}</label>
				<div class="fieldWithErrors">
					<span id="error_msn" class="error"></span>
					<input type="text" name="msn" class="text_field" id="msn" value="{{MSN}}" />
				</div>
			</div>
			<div class="group">
				<label class="label">{{LANG_AOL}}</label>
				<div class="fieldWithErrors">
					<span id="error_aol" class="error"></span>
					<input type="text" name="aol" class="text_field" id="aol" value="{{AOL}}" />
				</div>
			</div>
			<div class="group">
				<label class="label">{{LANG_ICQ}}</label>
				<div class="fieldWithErrors">
					<span id="error_icq" class="error"></span>
					<input type="text" name="icq" class="text_field" id="icq" value="{{ICQ}}" />
				</div>
			</div>
			<div class="group">
				<label class="label">{{LANG_YAHOO}}</label>
				<div class="fieldWithErrors">
					<span id="error_yim" class="error"></span>
					<input type="text" name="yim" class="text_field" id="yim" value="{{YAHOO}}" />
				</div>
			</div>
			<div class="group navform buffer">
				<button class="button" type="submit">
					<span class="icon-group"></span>&nbsp;{{LANG_SAVESETTINGS}}
				</button>
			</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#curemail').focus();
new FormValidator('frmMessenger', [{
    name: 'msn',
    display: '{{LANG_MSN}}',
    rules: 'valid_email'
}, {
    name: 'icq',
	display: '{{LANG_ICQ}}',
    rules: 'numeric'
}, {
    name: 'yim',
    display: '{{LANG_YAHOO}}',
    rules: 'valid_email'
}], function(errors, event) {
    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else if (event != undefined && errors.length == 0) {
        event.preventDefault(); //stay on page.
		processForm('frmMessenger', function() {
			$('#ucpFrm').dialog('close');
		}, function() { 
			FormResults("error", "{{LANG_FORMFAILURE}}");
			$('#frmMessenger')[0].reset();
			$('#frmMessenger').removeClass('ui-state-error');
		});
    }
    
});
</script>