<script type="text/javascript" src="{{BOARD_URL}}js/pwdTester.js"></script>
<script type="text/javascript">
	$(document).on("keyup", '#newpass', function() {
		var howStrong = passwordStrength($(this).val());
		$('.strength-text', $(this).next()).text(howStrong);
		var sColor = '#555';
		switch(howStrong) {
			case 'Strong':
				$('.password-strength', $(this).next()).css('background-color', '#006600');
			break;
			case 'Medium':
				$('.password-strength', $(this).next()).css('background-color', '#009900');
			break;
			case 'Weak':
				$('.password-strength', $(this).next()).css('background-color', '#CC9900');
			break;
			case 'Short':
				$('.password-strength', $(this).next()).css('background-color', '#FF0000');
			break;
			default :
				$('.password-strength', $(this).next()).css('background-color', '#555');
			break;
		}
	}).focusout( function() {
		$(this).trigger('keyup');
	});
</script>
<div class="block" id="block-forms">
	<div class="content">
		<div class="inner">

			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateRes"></span>
			</div>

			{{UCPPASSWORDFORM|raw}}
			<div class="group">
				<label class="label">{{LANG_CURRPASS}}</label>
				<div class="fieldWithErrors">
					<span id="error_curpass" class="error"></span>
					<input type="password" name="curpass" class="text_field" id="curpass" />
				</div>
			</div>
			<div class="group">
				<label class="label">{{LANG_NEWPASS}}</label>
				<div class="fieldWithErrors">
					<span id="error_newpass" class="error"></span>
					<input name="newpass" type="password" class="text_field" id="newpass" />
					<div class="PwdStrengthBox"><span class="password-strength"></span> <span class="strength-text">Type Password</span></div>
				</div>
			</div>
			<div class="group">
				<label class="label">{{LANG_CONFIRMPASS}}</label>
				<div class="fieldWithErrors">
					<span id="error_confirmpass" class="error"></span>
					<input name="confirmpass" type="password" class="text_field" id="confirmpass" />
				</div>
			</div>
			<div class="group navform buffer">
				<button class="button" type="submit">
					<span class="icon-key"></span>&nbsp;{{LANG_UPDATEPASS}}
				</button>
			</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#curemail').focus();
new FormValidator('frmUpdatePassword', [{
    name: 'curpass',
    display: '{{LANG_CURRPASS}}',
    rules: 'required'
}, {
    name: 'newpass',
	display: '{{LANG_NEWPASS}}',
    rules: 'required'
}, {
    name: 'confirmpass',
    display: '{{LANG_CONFIRMPASS}}',
    rules: 'required|matches[newpass]'
}], function(errors, event) {
    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else if (event != undefined && errors.length == 0) {
        event.preventDefault(); //stay on page.
		processForm('frmUpdatePassword', function() {
			$('#ucpFrm').dialog('close');
		}, function() { 
			FormResults("error", "{{LANG_FORMFAILURE}}");
			$('#frmUpdatePassword')[0].reset();
			$('#frmUpdatePassword').removeClass('ui-state-error');
		});
    }
    
});
</script>