<div class="block" id="block-forms">
	<div class="content">
		<div class="inner">

			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg" style="width: 45%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="ErrMsg"></span>
				<span id="validateRes"></span>
			</div>
			
			<div id="emoticons" class="color2 ui-corner-all centerContainer" style="width:500px;" align="center">
				{{SMILES|raw}}
				<hr />
				<a href="#smiles" id="showAllSmiles">{{LANG_SMILES}}</a>
			</div><br />

			{{NEWPMFORM|raw}}
			<div class="group">
				<label class="label">{{LANG_PMMSG}}</label>
				<div class="fieldWithErrors">
					<span id="error_pmMsg" class="error"></span>
					{% import "bbcode.twig" as bbcode %}
					{{ bbcode.bbcodeToolbar('light', 'pmMsg', 'pmMsg') }}
				</div>
			</div>
			<div class="group navform buffer">
				<button class="button" type="submit">
					<span class="icon-comments"></span>&nbsp;{{LANG_SENDPM}}
				</button>
			</div>
			<input type="hidden" name="sendto" value="{{RECEIVER}}" />
			<input type="hidden" name="subject" value="{{SUBJECT}}" />
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('#showAllSmiles').click(function(e) {
		e.preventDefault(); //we don't want to leave this page.
        $('#moreSmiles').dialog('open');
    });

	new FormValidator('frmReplyPM', [{
		name: 'pmMsg',
		display: '{{LANG_PMMSG}}',
		rules: 'required|max_length[255]'
	}], function(errors, event) {
		if (errors.length > 0) {
			$('#validateRes').empty();
			$('#validateRes').append(errors.join('<br />'));
			$('#div_ErrMsg').show();
		} else if (event != undefined && errors.length == 0) {
			event.preventDefault(); //stay on page.
			processForm('frmReplyPM', function() {
				$('#pmFrm').dialog('close');
			}, function() { 
				FormResults("error", "{{LANG_FORMFAILURE}}");
				$('#frmReplyPM')[0].reset();
				$('#frmReplyPM').removeClass('ui-state-error');
			});
		}

	});
</script>