<div class="block" id="block-forms">
	<div class="content">
		<div class="inner">

			<!-- validation box. -->
			<div style="display:none;" id="div_ErrMsg">
				<div class="ui-widget centerContainer" style="width: 75%;">
					<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
						<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
						<p id="validateRes"></p>
					</div>
				</div>
			</div>

			{{USERFORM|raw}}
			<div class="group">
				<label class="label">{{LANG_USERNAME}}</label>
				<div class="fieldWithErrors">
					<span id="error_userSearch" class="error"></span>
					<input type="text" name="userSearch" class="text_field" id="userSearch" />
				</div>
			</div>
			<div class="group navform buffer">
				<button class="button" type="submit">
					<span class="icon-search"></span>&nbsp;{{LANG_SEARCH}}
				</button>
			</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#userSearch').focus();
new FormValidator('frmUserSearch', [{
    name: 'userSearch',
    display: '{{LANG_USERNAME}}',
    rules: 'required|max_length[50]'
}], function(errors, event) {
    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else if (event != undefined && errors.length == 0) {
        event.preventDefault(); //stay on page.
		$.post($('#frmUserSearch').attr('action'), $('#frmUserSearch').serialize(), function(frmData) {
			//render JSON.
			var json = $.parseJSON(frmData);

			//process message.
			formValidation(json.fields);

			//execute callback function if available.
			if (json.status == "success") {
				$('#acpFrm').dialog('close');
				buildModal('acpFrm', '{{LANG_USERMGR}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/manage/'+json.msg);
			} else {
				FormResults(json.status, json.msg);
			}
		}).error(function(xhr, tStat, err) {
			FormResults("error", "{{LANG_FORMFAILURE}}");
			$('#frmUserSearch')[0].reset();
			$('#frmUserSearch').removeClass('ui-state-error');
		}); //END $.post(
    }
});

$('#userSearch').typeahead({
	source: function(query, process) {
		$.getJSON("{{BOARD_URL}}{{INDEX_PAGE}}/ajax/searchusernames/"+query, function(data) {
			var suggestions = []; //create array for response objects

			//process response
			$.each(data, function(i, val) {
				suggestions.push(val.Username);
			});
			process(suggestions); //pass array to callback
		});
	},
	minLength: 2,
});
</script>