{% extends "master.twig" %}
{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}
{% block bodyRender %}
<div id="inactivePrompt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="{{LANG_INACTIVENOTICE}}" aria-hidden="true">
<div class="modal-header">
	<h3 id="myModalLabel">{{LANG_INACTIVETITLE}}</h3>
	</div>
	<div class="modal-body">
		<p>
			<span class="icon-exclamation-sign icon-2x"></span>
			{{LANG_INACTIVENOTICE}} <span id="dialog-countdown" style="font-weight:bold"></span> {{LANG_SECONDS}}.
		</p>
		<p>{{LANG_CONTINUESESSION}}</p>
	</div>
	<div class="modal-footer">
		<button class="btn" onclick="$.idleTimeout.options.onTimeout.call(this);">{{LANG_NO}}</button>
		<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{LANG_YES}}</button>
	</div>
</div>
<script src="{{BOARD_URL}}js/jquery.idletimer.js" type="text/javascript"></script>
<script src="{{BOARD_URL}}js/jquery.idletimeout.js" type="text/javascript"></script>
<script type="text/javascript">
	var $countdown = $("#dialog-countdown");
	$.idleTimeout('#inactivePrompt', '#inactivePrompt  .modal-footer', { //div.ui-dialog-buttonpane button:first
		idleAfter: 230, //warn user if they haven't done anything for four and a half minutes.
		pollingInterval: 120, //keep sesion alive every two minutes.
		keepAliveURL: '{{BOARD_URL}}ajax/keepalive',
		serverResponseEquals: 'OK',
		onTimeout: function(){
			window.location = "{{BOARD_URL}}logout";
		},
		onIdle: function(){
			$(this).modal('show');
		},
		onCountdown: function(counter){
			$countdown.html(counter); // update the counter
		}
	});
</script>
{{BREADCRUMB|raw}}<br />

<div id="loadingBackGround">
	<div id="loadingMessage">
		<strong>{{LANG_PROCESSINGFORM}}</strong><br />
		{{IMG("themes/"~THEME_NAME~"/images/loading.gif")|raw}}
	</div>
</div>
<div id="acpFrm"></div>

<script type="text/javascript">
	$(function(){
		//global loading message.
		$('#loadingBackGround').hide()  // hide it initially
		.ajaxStart(function() {
			$(this).show();
		}) //END .ajaxStart
		.ajaxStop(function() {
			$(this).hide();
		}); //END .ajaxStart
	});
</script>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">{{LANG_BOARDMENU}}</li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/setup">{{LANG_BOARDSETUP}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWPARENTBOARD}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/create/1');">{{LANG_NEWPARENTBOARD}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWBOARD}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/create/2', 800);">{{LANG_NEWBOARD}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWSUBBOARD}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/create/3', 800);">{{LANG_NEWSUBBOARD}}</a></li>
					<li class="nav-header">{{LANG_GENERALMENU}}</li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/styles">{{LANG_MANAGESTYLES}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWSLETTER}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/newsletter', 550);">{{LANG_NEWSLETTER}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/spamlist">{{LANG_SPAMLIST}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/censor">{{LANG_CENSOR}}</a></li>
					<li class="nav-header">{{LANG_SETTINGS}}</li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_USERSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/user', 800);">{{LANG_USERSETTINGS}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_BOARDSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/board');">{{LANG_BOARDSETTINGS}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/announcement">{{LANG_ANNOUNCEMENTSETTINGS}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_ATTACHMENTSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/attachment');">{{LANG_ATTACHMENTSETTINGS}}</a></li>
					<li class="nav-header">{{LANG_GROUPMENU}}</li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/group/setup">{{LANG_GROUPSETUP}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/group/profiles">{{LANG_MANAGEPROFILE}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWGROUP}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/group/newgroup');">{{LANG_NEWGROUP}}</a></li>			
					<li class="nav-header">{{LANG_USERMENU}}</li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/ipbanlist">{{LANG_IP_BANLIST}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/emailbanlist">{{LANG_EMAIL_BANLIST}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/blacklist">{{LANG_BLACKLIST}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_USERPRUNE}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/prune');">{{LANG_USERPRUNE}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/activate">{{LANG_ACTIVATE}}</a></li>
					<li><a href="{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/warnlog">{{LANG_WARNLOG}}</a></li>
					<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_USERMGR}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/acpuser/user');">{{LANG_USERMGR}}</a></li>
				</ul>
			</div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
		{% block acpbodyRender %}{% endblock %}
		</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->
{% endblock %}