<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!--  Base CSS -->
{{LinkTag("themes/"~THEME_NAME~"/base.css")|raw}}
{{LinkTag("themes/"~THEME_NAME~"/style.css")|raw}}
{{LinkTag("themes/"~THEME_NAME~"/jui.css")|raw}}
{{LinkTag("themes/"~THEME_NAME~"/bootstrap.css")|raw}}

<!--  jTables CSS -->
{{LinkTag("themes/"~THEME_NAME~"/grid.css")|raw}}

<!--RSS & ICO -->
{{LinkTag("themes/"~THEME_NAME~"/images/favicon.ico", "shortcut icon", "image/ico")|raw}}
{{LinkTag(INDEX_PAGE~"/latesttopics", "alternate", "application/rss+xml", boardName)|raw}}

<!-- Get the folder this is installed on. -->
<script type="text/javascript">
	var boardUrl = '{{BOARD_URL}}';
</script>

<!-- Language JS File. -->
<script type="text/javascript" src="{{BOARD_URL}}js/lang/{{LANG}}/{{LANG}}.lang.js"></script>

<!-- REQUIRED, CORE -->
<script type="text/javascript" src="{{BOARD_URL}}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/jquery-ui-1.10.2.min.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/bootstrap.min.js"></script>

<!-- PLUGINS USED ALL AROUND EBB -->
<script type="text/javascript" src="{{BOARD_URL}}js/bootbox.min.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/dialog.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/common.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/jquery.functions.js"></script>

<!-- notification plug-in. -->
<script type="text/javascript" src="{{BOARD_URL}}js/notify.js"></script>
<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jnotify.min.js"></script>

<!-- validation js -->
<script type="text/javascript" src="{{BOARD_URL}}js/validate.min.js"></script>
<!-- /JAVASCRIPT FILES -->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 8]>
    <div id="DlgOldIE">
        Your version of Internet Explorer is too old, We recommend IE 8 or newer.<br /><br />
        <u><a href="http://windows.microsoft.com/en-US/internet-explorer/downloads/ie">Download Latest Version of IE</a></u>
    </div>
    <script type="text/javascript">
    $("#DlgOldIE").dialog({
		title: "IE Compatibility Error",
        modal: true,
        resizable: false,
        draggable: false,
	    open: function(event, ui) {
		    $(".ui-dialog-titlebar-close", ui.dialog).hide();
		}
	});
    </script>
    <![endif]-->

	<!-- No javascript? let user know its required. -->
	<noscript>
		<div id="loadingBackGround_nojs">
			<div id="loadingMessage_nojs">
				<strong>{{LANG_INFO}}</strong><br />
				<strong>{{LANG_JSDISABLED}}</strong>
			</div>
		</div>
	</noscript>

	{# Used for our notification system #}
	{% if NOTIFY_MSG != "" %}
	<script type="text/javascript">
		FormResults("{{NOTIFY_TYPE}}", "{{NOTIFY_MSG}}"); //display message.
	</script>
	{% endif %}

	<div id="notifyContainer" class="hideElement"></div>

	<!-- Used to confirm actions (will replace older method) -->
	<div id="confirmDlg">
		<div id="confirmMsg"></div>
	</div>
	
	<!-- PM Containers -->
	<div id="newPM"></div>
	<div id="moreSmiles"></div>

	{# toggle login panel based on rank. #}
	{% if groupAccess == 1 or groupAccess == 2 or groupAccess == 3 %}
    <!-- Modal -->
    <div id="inactivePrompt" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
		<h3 id="myModalLabel">{{LANG_INACTIVETITLE}}</h3>
		</div>
		<div class="modal-body">
			<p>
				<span class="icon-exclamation-sign icon-2x"></span>
				{{LANG_INACTIVENOTICE}} <span id="dialog-countdown" style="font-weight:bold"></span> {{LANG_SECONDS}}.
			</p>
			<p>{{LANG_CONTINUESESSION}}</p>
		</div>
		<div class="modal-footer">
			<button class="btn" onclick="$.idleTimeout.options.onTimeout.call(this);">{{LANG_NO}}</button>
			<button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{LANG_YES}}</button>
		</div>
    </div>
	<script src="{{BOARD_URL}}js/jquery.idletimer.js" type="text/javascript"></script>
	<script src="{{BOARD_URL}}js/jquery.idletimeout.js" type="text/javascript"></script>
	<script type="text/javascript">
		var $countdown = $("#dialog-countdown");
		$.idleTimeout('#inactivePrompt', '#inactivePrompt  .modal-footer', { //div.ui-dialog-buttonpane button:first
			idleAfter: 230, //warn user if they haven't done anything for four and a half minutes.
			pollingInterval: 120, //keep sesion alive every two minutes.
			keepAliveURL: '{{BOARD_URL}}ajax/keepalive',
			serverResponseEquals: 'OK',
			onTimeout: function(){
				window.location = "{{BOARD_URL}}logout";
			},
			onIdle: function(){
				$(this).modal('show');
			},
			onCountdown: function(counter){
				$countdown.html(counter); // update the counter
			}
		});
	</script>
    <div id="topTab">
        <ul>
            <li>
            	<div class="ui-widget ui-helper-clearfix ui-widget-header ui-corner-all" style="padding: .2em 1em;text-align:left;">
	                <a href="{{BOARD_URL}}"><span class="icon-home floatLeft icon-large"></span>&nbsp;{{LANG_HOME}}</a>
                </div>
            </li>
            <li id="PMBtn"> {# TODO use this badge when we get PMs in place  data-notifications="10" #}
            	<div class="ui-widget ui-helper-clearfix ui-widget-header ui-corner-all" style="padding: .2em 1em;text-align:left;">
	                <span class="icon-envelope-alt floatLeft icon-large"></span>&nbsp;{{LANG_PMS}}
                </div>
            </li>
            <li class="usrMenu" id="loginButton">
            	<div class="ui-widget ui-helper-clearfix ui-widget-header ui-corner-all" style="padding: .2em 1em;text-align:left;">
	                <span class="icon-cogs floatLeft icon-large"></span>&nbsp;{{LANG_UOPTIONS}}
                </div>
            </li>
            <li class="usrMenu" id="searchBtn">
            	<div class="ui-widget ui-helper-clearfix ui-widget-header ui-corner-all" style="padding: .2em 1em;text-align:left;">
	                <span class="icon-search floatLeft icon-large"></span>&nbsp;{{LANG_SEARCH}}
                </div>
            </li>
            <li class="usrMenu" onclick="$('#styleListDialog').modal('show');">
            	<div class="ui-widget ui-helper-clearfix ui-widget-header ui-corner-all" style="padding: .2em 1em;text-align:left;">
	                <span class="icon-list-alt floatLeft icon-large"></span>&nbsp;{{LANG_CHANGETHEME}}
                </div>
            </li>
        </ul>
    </div>
	
    <div id="styleListDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h3 id="myModalLabel">{{LANG_CHANGETHEME}}</h3>
		</div>
		<div class="modal-body">
		{% for s in STYLELIST %}
			{# create new row if the index is odd or the first record. #}
			{% if loop.index is odd or loop.first %}
			<div class="row-fluid">
			{% endif %}
			<div class="span6">
				{{URL_TAG("users/changetheme/"~s.id, IMG(BOARD_URL~"themes/"~THEME_NAME~"/images/style_thumb.gif"))|raw}}<br />{{s.Name}}
			</div>
			{# close row if the index is even or the last record. #}
			{% if loop.index is even or loop.last %}
			</div><br />
			{% endif %}
		{% endfor %}
		</div>
    </div>
    
    <div id="PMBox">
        <div id="loginForm">          
            <fieldset id="body">
                <fieldset>
                    <div class="icon-inbox floatLeft icon-large"></div>&nbsp;{{URL_TAG("users/messages/Inbox", LANG_PMINBOX)|raw}} <small><em>{{UNREADPMCOUNT}} {{LANG_UNREADPM}}</em></small>
                </fieldset>
                <fieldset>
					<div class="icon-folder-open floatLeft icon-large"></div>&nbsp;{{URL_TAG("users/messages/Archive", LANG_PMARCHIVE)|raw}}
                </fieldset>
            </fieldset>
            <span>
            	<a href="#" onclick="buildModal('newPM', '{{LANG_POSTPM}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/newpm/',720);">{{LANG_POSTPM}}</a>
            </span>
        </div>
    </div>
    
    <div id="searchBox">
        <div id="loginForm">          
            <fieldset id="body">
                <fieldset>
					<label for="qSearch">{{LANG_QUICKSEARCH}}</label>
					<input type="text" name="qSearch" id="qSearch" />
                </fieldset>
                <input type="submit" id="iSearch" value="{{LANG_SEARCH}}" />
				<div id="lsloading" class="hideElement">
					{{IMG("themes/"~THEME_NAME~"/images/smloader.gif")|raw}}
				</div>
				<div id="searchResults"></div>
            </fieldset>
            <span>
				{{URL_TAG("/search", LANG_ADVSEARCH)|raw}}
            </span>
        </div>
    </div>

    <div id="loginBox">
        <div id="loginForm">          
            <fieldset id="body">
                <fieldset>
					{# <img src="images/icons/avatar.png" width="40" height="40" alt="" class="VerticalAlignMiddle" /> #}
<!--					<div class="ui-icon ui-icon-gear floatLeft"></div>&nbsp;{{LANG_UOPTIONS}} -->
                </fieldset>
                <fieldset>
					<div class="icon-wrench floatLeft icon-large"></div>&nbsp;{{URL_TAG("users/", LANG_UOPTIONS)|raw}}<br />
				</fieldset>
				<fieldset>
					<div class="icon-search floatLeft icon-large"></div>&nbsp;{{URL_TAG("search/newposts/", LANG_NEWPOSTS)|raw}}
                </fieldset>
            </fieldset>
				<span>
            	{{URL_TAG("/logout", LANG_LOGOUT)|raw}}
            </span>
        </div>
    </div>
	{% else %}
    <div id="topTab">
        <ul>
            <li>
            	<div class="ui-widget ui-helper-clearfix ui-widget-header ui-corner-all" style="padding: .2em 1em;text-align:left;">
	                <a href="{{BOARD_URL}}"><span class="icon-home floatLeft icon-large"></span>&nbsp;{{LANG_HOME}}</a>
                </div>
            </li>
            <li class="usrMenu" id="loginButton">
            	<div class="ui-widget ui-helper-clearfix ui-widget-header ui-corner-all" style="padding: .2em 1em;text-align:left;">
	                <span class="icon-signin floatLeft icon-large"></span>&nbsp;{{LANG_LOGIN}}
                </div>
            </li>
        </ul>
    </div>
	
	<div id="loginBox">
		{{LOGINFORM|raw}}
			<fieldset id="body">
				<!-- validation box. -->
				<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg_QLogin" style="width: 82%;">
					<span id="validateQLogin"></span>
				</div>
				<fieldset>
					<label for="username">{{LANG_USERNAME}}</label>
					<input type="text" name="username" id="username" tabindex="1" />
				</fieldset>
				<fieldset>
					<label for="password">{{LANG_PASSWORD}}</label>
					<input type="password" name="password" id="password" tabindex="2"/>
				</fieldset>
				<input type="submit" id="login" value="{{LANG_LOGIN}}" />
				<label for="checkbox"><input type="checkbox" id="checkbox" name="auto_login" value="1" />{{LANG_REMEMBERTXT}}</label>
			</fieldset>
			<span>
				{{URL_TAG("/resetpassword", LANG_FORGOT)|raw}}<br />
				{{URL_TAG("/register", LANG_REGISTER)|raw}}
			</span>
		</form>
	</div>
	<script type="text/javascript">
		new FormValidator('frmQLogin', [{
			name: 'username',
			display: '{{LANG_USERNAME}}',
			rules: 'required'
		}, {
			name: 'password',
			display: '{{LANG_PASSWORD}}',
			rules: 'required'
		}], function(errors, event) {

			if (errors.length > 0) {
				$('#validateQLogin').empty();
				$('#validateQLogin').append(errors.join('<br />'));
				$('#div_ErrMsg_QLogin').show();
			} else {
				event.returnValue = true; //allow form to process.
			}

		});
	</script>
	{% endif %}

    <div id="container">
		<div id="header">
			<div class="board-common-icons logo"></div>
			<div id="user-navigation">
				<ul class="buffer">
					<li class="loggedUser">
						{% if groupAccess == 1 or groupAccess == 2 or groupAccess == 3 %}
							{{LANG_WELCOME}} <strong>{{LOGGEDUSER}}</strong>
						{% else %}
							{{LANG_WELCOMEGUEST}}
						{% endif %}
					</li>
				</ul>
			</div>
			{% if groupAccess == 1 or groupAccess == 2 or groupAccess == 3 %}
			<div id="main-navigation">
			<ul class="buffer">
				<li>
					{{URL_TAG("users/memberslist/", LANG_MEMBERLIST)|raw}}
				</li>
				<li>
					{{URL_TAG("users/", LANG_UOPTIONS)|raw}}
				</li>
				{% if groupAccess == 1 %}
					<li>
						{{URL_TAG("ACP", LANG_CP)|raw}}
					</li>
				{% endif %}
			</ul>
		  </div>
		  {% endif %}
		</div>
		<div id="wrapper" class="buffer">
			<div id="main">
				{% block bodyRender %}{% endblock %}
			</div>
		</div>
	</div> 
	<!-- Footer -->
	<div id="footer">
		<div class="block">
			<p>{{LANG_POWERED}}: <a href="http://elite-board.us/" target="_blank">Elite Bulletin Board</a> &#169; 2006-2013</p>
		</div>
	</div>
</body>
</html>