<div class="block" id="block-forms">
    <div class="content">
        <div class="inner">
			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateRes"></span>
			</div>

			{{ACPADDCENSORFORM|raw}}
			<div class="group">
				<label class="label">{{LANG_ORIGINAL_WORD}}</label>
				<div class="fieldWithErrors">
					<span id="error_original_word" class="error"></span>
					<input type="text" name="original_word" class="text_field" id="original_word" />
				</div>
			</div>
			<div class="group navform buffer">
				<button class="button" type="submit">
				  <span class="icon-plus-sign"></span>&nbsp;{{LANG_ADD_CENSOR}}
				</button>
			</div>
			</form>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#original_word').focus();
new FormValidator('frmAddCensor', [{
    name: 'original_word',
    display: '{{LANG_ORIGINAL_WORD}}',
    rules: 'required|max_length[50]'
}], function(errors, event) {
    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else if (event != undefined && errors.length == 0) {
		event.preventDefault(); //stay on page.
		processForm('frmAddCensor', function() {
			$('#acpFrm').dialog('close');
			
			//reload grid.
			$('#censorList').jtable('load');
		}, function() { 
			FormResults("error", "{{LANG_FORMFAILURE}}");
			$('#frmAddCensor')[0].reset();
			$('#frmAddCensor').removeClass('ui-state-error');
		});
    }
    
});
</script>