{% extends "master.twig" %}

{% block title %}{{TITLE}} - {{PAGETITLE}}{% endblock %}

{% block bodyRender %}

    {% if showInfoBox == 1 %}
        <!-- JS for Information Ticker -->
        <script type="text/javascript" src="includes/js/jquery.ticker.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $('#announcements').ticker({ titleText:"{{TITLE}} :: {{LANG_ANNOUNCEMENTS}}" });
            });
        </script>
        <div class="well">
            <ul id="announcements">
                {% for a in ANNOUNCEMENTS %}
                    <li>a.information</li>
                {% endfor  %}
            </ul>
        </div>
    {% endif %}

    {% for c in CATEGORY %}
        <table class="table">
            <tr>
                <th colspan="5">::{{c.Board}}::</th>
            </tr><tr>
                <th width="4%">&nbsp;</th>
                <th width="56%">{{LANG_BOARD}}</th>
                <th width="10%">{{LANG_TOPIC}}</th>
                <th width="10%">{{LANG_POST}}</th>
                <th width="20%" class="last">{{LANG_LASTPOSTDATE}}</th>
            </tr>
            {% for b in BOARDS %}
                {# make sure we get the correct data in the right spots. #}
                {% if c.id == b.Category %}
                    <tr>
                        <td class="centerText">
                            <div class="fa {{b.postIcon}} fa-2x"></div>
                        </td>
                        <td><span class="floatLeft"><strong><a href="viewboard.php?bid={{b.id}}">{{b.Board }}</a></strong>&nbsp;</span><div class="icon-rss floatLeft" style="cursor: pointer;" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/feed/{{b.id}}');"></div><br />{{b.Description|raw}}<br /></td>
                        <td class="centerText">{{b.topicCount}}</td>
                        <td class="centerText">{{b.postCount}}</td>
                        <td>
                            {% if b.lastUpdate == "" %}
                                {{LANG_NOPOSTS}}
                            {% else %}
                                {{b.lastUpdate}}<br /><a href="viewtopic.php?tid={{b.tid}}">{{LANG_POSTEDBY }}</a>  {{b.Username}}
                            {%endif%}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}

    <div class="well">
        <h4>{{LANG_BOARDSTAT}}</h4>
        {#
        {{LANG_NEWESTMEMBER}}: {{boardInfo("newuser")}}<br />
        <b>{{ boardInfo("topic") }}</b> {{LANG_TOTALTOPIC}} /
        <b>{{ boardInfo("post") }}</b> {{LANG_TOTALPOST}} /
        <b>{{ boardInfo("member") }}</b> {{LANG_TOTALUSER}}
        #}

        <h4>{{LANG_ICONGUIDE}}</h4>
        <div class="fa fa-comment-o fa-2x floatLeft"></div><div class="floatLeft">{{LANG_NEWPOST}}</div><br /><br />
        <div class="fa fa-comment fa-2x floatLeft"></div><div class="floatLeft">{{LANG_OLDPOST}}</div><br />
    </div>

    <div class="well col-xs-4 col-md-1">
        {{LANG_ONLINEKEY|raw}}
    </div>
    <div class="well col-xs-12 col-sm-8 col-md-11">
        {#<b>{{boardInfo("memberonline")}}</b> {{LANG_LOGGED_ONLINE}} &amp; <b>{{boardInfo("guestonline")}}</b> {{LANG_GUEST_ONLINE}}#}
        <hr />
        {#{{WHOSONLINE|raw}}#}
        <br />
    </div>
{% endblock %}