<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <!--  Base CSS -->
    <link rel="stylesheet" href="template/clearblue2/bootstrap.css" media="screen">
    <link rel="stylesheet" href="template/clearblue2/font-awesome.css" media="screen">
    <link rel="stylesheet" href="template/clearblue2/style.css" media="screen">

    <!--RSS & ICO -->
    <link rel="shortcut icon" href="template/clearblue2/favicon.ico">
    <link rel="alternate" href="latestposts.php" type="application/rss+xml">

    <!-- Get the folder this is installed on. -->
    <script type="text/javascript">
        var boardUrl = '{{BOARD_URL}}';
    </script>

    <!-- Language JS File. -->
    {#<script type="text/javascript" src="includes/js/lang/{{LANG}}/{{LANG}}.lang.js"></script>#}

    <!-- REQUIRED, CORE -->
    <script src="includes/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="includes/js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="includes/js/bootstrap.min.js"></script>

    <!-- PLUGINS USED ALL AROUND EBB -->
    <script type="text/javascript" src="includes/js/bootbox.min.js"></script>
    <script type="text/javascript" src="includes/js/common.js"></script>
    <script type="text/javascript" src="includes/js/jquery.functions.js"></script>

    <!-- notification plug-in. -->
    <script type="text/javascript" src="includes/js/jquery.jnotify.min.js"></script>
    <!-- /JAVASCRIPT FILES -->
</head>
<body>
    <!--[if lt IE 9]>
    <script type="text/javascript">
        bootbox.dialog({
            message: "Your version of Internet Explorer is too old, We recommend IE 9 or newer.<br /><br />For better results we recommend either Google Chrome or Firefox.",
            title: "IE Compatibility Error",
            buttons: {
                ie: {
                    label: "Get Internet Explorer",
                    className: "btn-primary",
                    callback: function() {
                        location.href = "http://windows.microsoft.com/en-us/internet-explorer/ie-9-worldwide-languages";
                    }
                },
                chrome: {
                    label: "Get Google Chrome",
                    className: "btn-success",
                    callback: function() {
                        location.href = "https://www.google.com/intl/en/chrome/browser/";
                    }
                },
                firefox: {
                    label: "Get Firefox",
                    className: "btn-warning",
                    callback: function() {
                        location.href = "http://www.mozilla.org/en-US/firefox/fx/#desktop";
                    }
                }
            }
        });
    </script>
    <![endif]-->

    <!-- No javascript? let user know its required. -->
    <noscript>
        <div id="loadingBackGround_nojs">
            <div id="loadingMessage_nojs">
                <strong>{{LANG_INFO}}</strong><br />
                <strong>{{LANG_JSDISABLED}}</strong>
            </div>
        </div>
    </noscript>

    {# Used for our notification system #}
    {% if NOTIFY_MSG != "" %}
        <script type="text/javascript">
            FormResults("{{NOTIFY_TYPE}}", "{{NOTIFY_MSG}}"); //display message.
        </script>
    {% endif %}

    <div id="notifyContainer" class="hideElement"></div>

    <!-- Used to confirm actions (will replace older method) -->
    <div id="confirmDlg">
        <div id="confirmMsg"></div>
    </div>

    <!-- PM Containers -->
    <div id="newPM"></div>
    <div id="moreSmiles"></div>

    <!-- Wrap all page content here -->
    <div id="wrap">
        {# toggle login panel based on rank. #}
        {% if groupAccess == 1 or groupAccess == 2 or groupAccess == 3 %}
        <div class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{{BOARD_URL}}">{{LANG_HOME}}</a></li>
                  <li><a href="Members.php">{{LANG_MEMBERLIST}}</a></li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{LANG_PMS}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">{{LANG_PMINBOX}} ({{UNREADPMCOUNT}})</a></li>
                      <li><a href="#">{{LANG_PMARCHIVE}}</a></li>
                      <li class="divider"></li>
                      <li><a href="#" onclick="buildModal('newPM', '{{LANG_POSTPM}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/newpm/',720);">{{LANG_POSTPM}}</a></li>
                    </ul>
                  </li>
                </ul>
                          
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" onclick="$('#styleListDialog').modal('show');">{{LANG_CHANGETHEME}}</a></li>
                <li><a href="#" id="search" data-placement="bottom" data-original-title="{{LANG_QUICKSEARCH}}">{{LANG_SEARCH}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{LANG_UOPTIONS}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a href="Search.php?action=lastposts">{{LANG_NEWPOSTS}}</a></li>
                      <li><a href="Profile.php">{{LANG_UOPTIONS}}</a></li>
                      {% if groupAccess == 1 %}
                      <li><a href="acp/">{{LANG_ACP}}</a></li>
                      {% endif %}
                      <li class="divider"></li>
                      <li><a href="logout.php">{{LANG_LOGOUT}}</a></li>
                    </ul>
                </li>
              </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </div>

        <!-- Our style modal -->
        <div id="styleListDialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 id="myModalLabel">{{LANG_CHANGETHEME}}</h3>
            </div>
            <div class="modal-body">
                {% for s in STYLELIST %}
                    {# create new row if the index is odd or the first record. #}
                    {% if loop.index is odd or loop.first %}
                        <div class="row-fluid">
                    {% endif %}
                    <div class="span6">
                        {#{{URL_TAG("users/changetheme/"~s.id, IMG(BOARD_URL~"themes/"~THEME_NAME~"/images/style_thumb.gif"))|raw}}<br />{{s.Name}}#}
                    </div>
                    {# close row if the index is even or the last record. #}
                    {% if loop.index is even or loop.last %}
                        </div><br />
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="qsearch" style="display:none;">
            <div class="form-group">
                <input type="text" name="qSearch" id="qSearch" class="form-control" style="width:250px;" />
            </div>
            <input type="submit" id="iSearch" value="{{LANG_SEARCH}}" class="btn btn-primary btn-xs" />
            <!-- {{LANG_ADVSEARCH}} -->
            <div id="lsloading" class="hideElement">
                <img src="template/clearblue2/images/smloader.gif" alt=""/>
            </div>
            <div id="searchResults"></div>
        </div> 
        <script type="text/javascript">
            $(function() {
                $('#search').popover({ 
                    html : true, 
                    content: function() {
                      return $('#qsearch').html();
                    }
                });
            });
        </script>                 
        {% else %}
        <div class="navbar navbar-inverse">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="{{BOARD_URL}}">{{LANG_HOME}}</a></li>
                </ul>
                          
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="login" data-placement="bottom" data-original-title="{{LANG_LOGIN}}">{{LANG_LOGIN}}</a></li>
                <li><a href="#" id="register" data-placement="bottom">{{LANG_REGISTER}}</a></li>
              </ul>
            </div><!--/.navbar-collapse -->
          </div>
        </div>

        <script type="text/javascript" src="includes/js/nod.min.js"></script>
        <div id="qlogin" style="display:none;">
            <form id="frmLogin" action="auth.php?do=login">
              <div class="form-group">
                <label for="quser">{{LANG_USERNAME}}</label>
                <input type="email" class="form-control" id="quser" style="width:250px;">
              </div>
              <div class="form-group">
                <label for="qpassword">{{LANG_PASSWORD}}</label>
                <input type="password" class="form-control" id="qpassword" style="width:250px;">
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox"> {{LANG_REMEMBERTXT}}
                </label>
              </div>
              <button type="submit" class="btn btn-primary btn-xs btn-block">{{LANG_LOGIN}}</button>
              <button type="button" class="btn btn-default btn-xs btn-block">{{LANG_FORGOT}}</button>
                <script type="text/javascript">
                    var qLoginRules = [
                        [ '#quser', 'presence', '{{LANG_VAILDATE_USERNAME}}' ],
                        [ '#qpassword', 'presence', '{{LANG_VAILDATE_PASSWORD}}' ]
                    ];
                    var options = {
                        'groupClass' : 'inputError',
                        'errorPosClasses': 'control-label',
                        'errorClass' : 'inputError'
                    };
                    $("#frmLogin").nod(qLoginRules, options);
                </script>
            </form>
        </div>        

        <div id="qregister" style="display:none;">
            <form  id="qRegister" action="register.php?action=process">
              <div class="form-group">
                <label for="exampleInputEmail1">{{LANG_USERNAME}}</label>
                <input type="email" class="form-control" id="exampleInputEmail1" style="width:250px;">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">{{LANG_PASSWORD}}</label>
                <input type="password" class="form-control" id="exampleInputPassword1" style="width:250px;">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">{{LANG_EMAIL}}</label>
                <input type="password" class="form-control" id="exampleInputPassword1" style="width:250px;">
              </div>
              {#<div class="checkbox">
                <label>
                  <input type="checkbox"> {{LANG_AGREETERMS}}
                </label>
              </div>#}
              <button type="submit" class="btn btn-primary btn-xs btn-block">{{LANG_REGISTER}}</button>
            </form>
        </div>
        <script type="text/javascript">
            $(function() {
                $('#login').popover({ 
                    html : true, 
                    content: function() {
                      return $('#qlogin').html();
                    }
                });

                $('#register').popover({ 
                    html : true, 
                    content: function() {
                      return $('#qregister').html();
                    }
                });
            });
        </script>
        {% endif %}

      <!-- Begin page content -->
        <div class="content">
            <div style="background-color: #4B6C9E;">
                {#<img src="logo.gif" />#}
                <span style="float:right;font-weight:bold;color: #fff;">
                    {% if groupAccess == 1 or groupAccess == 2 or groupAccess == 3 %}
                        {{LANG_WELCOME}} <strong>{{LOGGEDUSER}}</strong>
                    {% else %}
                        {{LANG_WELCOMEGUEST}}
                    {% endif %}
                <span>
            </div><br />
            {% block bodyRender %}{% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p>{{LANG_POWERED}}: <a href="http://elite-board.us/" target="_blank">Elite Bulletin Board</a> &#169; 2006-2015</p>
        </div>
    </div>
</body>
</html>
