{% extends "master.twig" %}

{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<div class="block" id="block-forms">
	<div class="content">
		<h2 class="title">{{pageTitle}}</h2>
		<div class="inner">
			<p>{{LANG_TEXT}}</p>
			{{VALIDATIONSUMMARY|raw}}<br />
			
			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg" style="width: 45%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateRes"></span>
			</div>

			{{REPORTTOPICFORM|raw}}
                <div class="group">
                  <label class="label">{{LANG_REPORTEDBY}}&nbsp;{{LOGGEDUSER}}</label>
                </div>
                <div class="group">
					<label class="label" for="reason">{{LANG_REASON}}</label>
					<select name="reason">
						<option value="spampost">{{LANG_SPAMPOST}}</option>
						<option value="fightpost">{{LANG_FIGHTPOST}}</option>
						<option value="advert">{{LANG_ADVERT}}</option>
						<option value="userproblems">{{LANG_USERPROBLEMS}}</option>
						<option value="other">{{LANG_OTHER}}</option>
					</select>
                </div>
                <div class="group">
                  <label class="label" for="msg">{{LANG_MESSAGE}}</label>
				  <textarea name="msg" rows="5" cols="80" class="text_area" id="msg"></textarea>
                </div>
                <div class="group navform buffer">
                  <button class="button" type="submit">
                    <span class="icon-flag"></span>&nbsp;{{LANG_SUBMITREPORT}}
                  </button>
                </div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	new FormValidator('frmReportTopics', [{
		name: 'msg',
		display: '{{LANG_MESSAGE}}',
		rules: 'required|min_length[10]|max_length[255]'
	}], function(errors, event) {
		if (errors.length > 0) {
			$('#validateRes').empty();
			$('#validateRes').append(errors.join('<br />'));
			$('#div_ErrMsg').show();
		} else {
			event.returnValue = true; //allow form to process.
		}
	});
</script>
{% endblock %}
