{% extends "master.twig" %}

{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}

{% block bodyRender %}

{{BREADCRUMB|raw}}<br />

<div class="block" id="block-tables">
    <div class="content">
		<h2 class="title">{{BOARD_NAME}}</h2>
        <div class="inner">
			{# display any sub-boards here. #}
			{% if SubBoardCount(BOARDID) > 0 %}
			<br /><table border="0" class="table" cellspacing="1" cellpadding="1">
				<tr class="ui-widget-header">
					<th width="4%">&nbsp;</th>
					<th width="56%">{{LANG_BOARD}}</th>
					<th width="10%">{{LANG_TOPIC}}</th>
					<th width="10%">{{LANG_POST}}</th>
					<th width="20%" class="last">{{LANG_LASTPOSTDATE}}</th>
				</tr>
				{% for b in SUBBOARDDATA %}
				<tr>
					<td class="centerText">						
						{% if b.last_update <= LAST30DAYS %}
						<div class="icon-comment-alt icon-2x"></div>
						{% elseif LOGGEDUSER == b.Username %}
						<div class="icon-comment-alt icon-2x"></div>
						{% elseif b.tid|TopicReadStat(LOGGEDUSERID) == 1 %}
						<div class="icon-comment-alt icon-2x"></div>
						{% else %}
						<div class="icon-comment icon-2x centerContainer"></div>
						{% endif %}
					</td>
					<td><span class="floatLeft"><strong>{{URL_TAG("/viewboard/"~ b.id, b.Board)|raw}}</strong>&nbsp;</span><div class="board-common-icons rss floatLeft" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/feed/{{b.id}}');"></div><br />{{b.Description|raw}}<br />{{b.id|SubBoards|raw}}</td>
					<td class="centerText">{{b.id|counter("TopicCount")}}</td>
					<td class="centerText">{{b.id|counter("PostCount")}}</td>
					<td>
						{% if b.last_update == "" %}
							{{LANG_NOPOSTS}}
						{% else %}
							{{b.last_update|PostedDate(TimeFormat, TimeZone)}}<br />{{URL_TAG("/viewtopic/"~ b.tid~"/"~b.last_page, LANG_POSTEDBY)|raw}} {{b.Username}}
						{%endif%}
					</td>
				</tr>
				{% endfor %}
			</table><br />
			{% endif %}

{# grab permissions for posting on this board. #}
{% if LOGGEDUSER == "guest" %}
<button class="btn btn-inverse disabled" disabled="disabled"><span class="icon-lock"></span>&nbsp;{{LANG_BTNLOCKED}}</button>
{% else %}

{# can they post a new topic? #}
{% if CANPOST_TOPIC == 1 %}
<button type="button" class="btn btn-primary" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/newtopic/{{BOARDID}}');"><span class="icon-comment"></span>&nbsp;{{LANG_BTNNEWTOPIC}}</button>
{% endif %}

{# can they post a new poll topic?. #}
{% if CANPOST_POLL == 1 %}
<button type="button" class="btn btn-primary" onclick="gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/newpoll/{{BOARDID}}');"><span class="icon-bar-chart"></span>&nbsp;{{LANG_BTNNEWPOLL}}</button>
{% endif %}

{% endif %}
<br /><br />

			<div class="actions-bar buffer">
				{{PAGINATION|raw}}
			</div>
			
            <table class="table">
				<tr>
					<th width="5%">&nbsp;</th>
					<th width="40%">{{LANG_TOPIC}}</th>
					<th width="15%">{{LANG_POSTEDBY}}</th>
					<th width="10%">{{LANG_REPLIES}}</th>
					<th width="10%">{{LANG_POSTVIEWS}}</th>
					<th class="last" width="20%">{{LANG_LASTPOSTEDBY}}</th>
                </tr>
				{% if BOARDCOUNT== 0 %}
				<tr>
					<td colspan="6" class="centerText">{{LANG_NOPOST}}</td>
				</tr>
				{% elseif CANREAD_TOPIC == FALSE %}
				<tr>
					<td colspan="6" class="centerText">{{LANG_NOREAD}}</td>
				</tr>
				{% else %}
				{% for t in BOARDDATA %}
				<tr>
					<td class="centerText" width="5%">
						{# icon setup. #}
						{% if t.important == 1 %}
						<div class="icon-exclamation-sign icon-2x"></div>
						{% elseif t.Locked == 1 %}
						<div class="icon-lock icon-2x"></div>
						{% elseif t.topic_type == 1 %}
						<div class="icon-bar-chart icon-2x"></div>
						{% elseif t.tid|counter("TopicReplies") >= 15 %}
						{# topic is popular. #}
						<div class="icon-flag icon-2x"></div>
						{% elseif t.last_update < LAST30DAYS %}
						<div class="icon-comment-alt icon-2x"></div>
						{% elseif LOGGEDUSER == t.Username %}
						<div class="icon-comment-alt icon-2x"></div>
						{% elseif t.tid|TopicReadStat(LOGGEDUSERID) == 1 %}
						<div class="icon-comment-alt icon-2x"></div>
						{% else %}
						<div class="icon-comment icon-2x"></div>
						{% endif %}
					</td>
				<td width="40%">{{ Attachment(t.tid) ? '<div class="icon-paper-clip icon-large floatLeft"></div>&nbsp;' : "" }} {{URL_TAG("/viewtopic/"~ t.tid, t.Topic)|raw}}</td>
				<td width="15%">{{t.Username}}</td>
				<td width="10%" class="centerText">{{t.tid|counter("TopicReplies")}}</td>
				<td width="10%" class="centerText">{{t.Views|counter("TopicViews")}}</td>
				<td width="20%">{{t.last_update|PostedDate(TimeFormat, TimeZone)}}<br />{{URL_TAG("/viewtopic/"~t.tid~"/"~t.last_page~"#post"~t.pid, LANG_POSTEDBY)|raw}}: {{t.Username}}</td>
				</tr>
				{% endfor %}

				{% endif %}
            </table>
			<div class="color2 ui-corner-all centerContainer" style="width:600px;padding:0 .7em;overflow: hidden;">
				<div class="icon-exclamation-sign icon-2x floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_IMPORTANTTOPIC}}&nbsp;</div>
				<div class="icon-lock icon-2x floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_LOCKTOPIC}}&nbsp;</div>
				<div class="icon-bar-chart icon-2x floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_POLLTOPIC}}&nbsp;</div>
				<div class="icon-fire icon-2x floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_HOTTOPIC}}&nbsp;</div>
				<div class="icon-comment-alt icon-2x floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_OLDPOST}}&nbsp;</div>
				<div class="icon-comment icon-2x floatLeft"></div><div class="floatLeft">&nbsp;{{LANG_NEWPOST}}&nbsp;</div>
			</div>
        </div>
    </div>
</div>
{% endblock %}
