<div class="block" id="block-forms">
	<div class="content">
		<div class="inner">

			<!-- validation box. -->
			<div style="display:none;" id="div_ErrMsg">
				<div class="ui-widget centerContainer" style="width: 75%;">
					<div class="ui-state-error ui-corner-all" style="padding: 0 .7em;text-align:left;">
						<span style="float: right;font-weight:bold;"><a href="#close" onclick="$('#div_ErrMsg').hide('blind', {}, 500);" class="ui-icon ui-icon-circle-close">&nbsp;</a></span>
						<p id="validateRes"></p>
					</div>
				</div>
			</div>

			{{BOARDSETTINGSFORM|raw}}
			<div class="group">
				<label class="label">{{LANG_BOARD_NAME}}</label>
				<div class="fieldWithErrors">
					<span id="error_board_name" class="error"></span>
					<input type="text" name="board_name" class="text_field" id="board_name" value="{{BOARD_NAME}}" />
				</div>
			</div>
			<div class="group">
				<label class="label">{{LANG_BOARD_EMAIL}}</label>
				<div class="fieldWithErrors">
					<span id="error_board_email" class="error"></span>
					<input type="text" name="board_email" class="text_field" id="board_email" value="{{BOARD_EMAIL}}" />
				</div>
			</div>
			<div class="group">
				<label class="label">{{LANG_BOARD_STATUS}}</label>
				<div class="fieldWithErrors">
					<span id="error_board_status" class="error"></span>
					<div>							
						<input type="radio" name="board_status" id="board_on" value="1" class="checkbox" {{ BOARD_STATUS == 1 ? "checked=checked`" : "" }} /> <label for="board_on" class="radio inline">{{LANG_ON}}</label>
					</div>
					<div>
						<input type="radio" name="board_status" id="board_off" value="0" class="checkbox" {{ BOARD_STATUS == 0 ? "checked=checked`" : "" }} /> <label for="board_off" class="radio inline">{{LANG_OFF}}</label>
					</div>
				</div>
			</div>
			<div class="group">				
				<label class="label">{{LANG_PER_PAGE}}</label>
				<div class="fieldWithErrors">
					<span id="error_per_page" class="error"></span>
					{{PER_PAGE_SELECT|raw}}
				</div>
			</div>
			<div class="group">				
				<label class="label">{{LANG_STYLE}}</label>
				<div class="fieldWithErrors">
					<span id="error_style" class="error"></span>
					{{STYLE_SELECT|raw}}
				</div>
			</div>
			<div class="group">				
				<label class="label">{{LANG_LANGUAGE}}</label>
				<div class="fieldWithErrors">
					<span id="error_language" class="error"></span>
					{{LANGUAGE_SELECT|raw}}
				</div>
			</div>
			<div class="group">				
				<label class="label">{{LANG_TIME_ZONE}}</label>
				<div class="fieldWithErrors">
					<span id="error_time_zone" class="error"></span>
					{{TIME_ZONE_SELECT|raw}}
				</div>
			</div>
			<div class="group">				
				<label class="label">{{LANG_DATE_FORMAT}}</label>
				<div class="fieldWithErrors">
					<span id="error_date_format" class="error"></span>
					{{DATE_FORMAT_SELECT|raw}}
				</div>
			</div>
			<div class="group">				
				<label class="label">{{LANG_TIME_FORMAT}}</label>
				<div class="fieldWithErrors">
					<span id="error_time_format" class="error"></span>
					{{TIME_FORMAT_SELECT|raw}}
				</div>
			</div>
			<div class="group navform buffer">
				<button class="button" type="submit">
					<span class="icon-cogs"></span>&nbsp;{{LANG_SAVESETTINGS}}
				</button>
			</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
$('#curemail').focus();
new FormValidator('frmBoardSettings', [{
    name: 'board_name',
    display: '{{LANG_BOARD_NAME}}',
    rules: 'required|max_length[50]'
}, {
    name: 'board_email',
	display: '{{LANG_BOARD_EMAIL}}',
    rules: 'required|valid_email|max_length[255]'
}], function(errors, event) {
    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else if (event != undefined && errors.length == 0) {
        event.preventDefault(); //stay on page.
		processForm('frmBoardSettings', function() {
			$('#acpFrm').dialog('close');
		}, function() { 
			FormResults("error", "{{LANG_FORMFAILURE}}");
			$('#frmBoardSettings')[0].reset();
			$('#frmBoardSettings').removeClass('ui-state-error');
		});
    }
    
});
</script>