{% extends "acp-master.twig" %}
{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}
{% block acpbodyRender %}
{% if GAC_VERSIONINFO == FALSE and GAC_SERVERINFO == FALSE and GAC_AUDITLOG == FALSE %}
			<p>{{LANG_ACPINFO}}</p>
			{% else %}
			<p>{{LANG_ACPINFO}}</p>
			<script type="text/javascript">
				$(function(){
					//user profile tabbing.
					$("#tabs").tabs();
				});
			</script>
			<div id="tabs">
				<ul>
					{% if GAC_VERSIONINFO == TRUE %}
					<li><a href="#version">{{LANG_VERSIONINFO}}</a></li>
					{% endif %}
					{% if GAC_SERVERINFO == TRUE %}
					<li><a href="#server">{{LANG_SERVERINFO}}</a></li>
					{% endif %}
					{% if GAC_AUDITLOG == TRUE %}
					<li><a href="#audit">{{LANG_AUDITLOG}}</a></li>
					{% endif %}
				</ul>
				<div id="version">
					{% if GAC_VERSIONINFO == TRUE %}
						{{VERSIONDATA_MSG}}
						<hr />
						{{LANG_INSTALLEDVERSION}}: <strong>{{VERSION_MAJOR}}.{{VERSION_MINOR}}.{{VERSION_PATCH}} {{VERSION_BUILD}}</strong><br />
						{% if VERSIONDATA_PATCH_LINK != "" %}
						<a href="{{VERSIONDATA_PATCH_LINK}}">{{LANG_VERSIONDATA_PATCH_LINK}}</a><br />
						{{LANG_VERSIONDATA_SEVERITY}}: {{VERSIONDATA_SEVERITY}}<br />
						{{VERSIONDATA_NOTES|raw}}<br /><br />
						{% endif %}
					{% endif %}
				</div>
				<div id="server">
					{% if GAC_SERVERINFO == TRUE %}
					{{LANG_DATABASE_PLATFORM}}: <strong>{{DATABASE_PLATFORM}}</strong><br />
					{{LANG_DATABASE_VERSION}}: <strong>{{DATABASE_VERSION}}</strong><br />
					{{LANG_PHP_VERSION}}: <strong>{{PHP_VERSION}}</strong> [{{URL_TAG("/ACP/phpinfo", LANG_PHPINFO)|raw}}]
					{% endif %}
				</div>
				<div id="audit">
					{% if GAC_AUDITLOG == TRUE %}
					<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jtable.min.js"></script>
					<script type="text/javascript">
						$(document).ready(function () {        
						   $('#auditlog').jtable({
								messages: lang,
								title: '{{LANG_AUDITLOG}}', //title of grid.
								paging: true, //allow paging
								pageSize: '{{PER_PAGE}}', //indicates number of rows in a page.
								sorting: true, //allow sorting
								defaultSorting: 'formattedDateTime DESC', //sets the default column to sort by and how.
								columnResizable: true, //allows user to resize data columns by dragging.
								columnSelectable: false, //allows user to show/hide data columns by right clicking table header.
								selecting: false, //Enable selecting
								multiselect: false, //Allow multiple selecting
								selectingCheckboxes: false, //Show checkboxes on first column
								selectOnRowClick: false, //Enable this to only select using checkboxes
								ajaxSettings: { type: 'GET' },
								actions: {
									listAction: '{{BOARD_URL}}grid/listacpaudit'
								},
								fields: {
									Username: {
										title: '{{LANG_PERFORMEDBY}}',
										width: '10%'
									},
									IP: {
										title: '{{LANG_AUDITIP}}',
										width: '10%'
									},
									Action: {
										title: '{{LANG_ACTION}}',
										width: '60%'
									},
									formattedDateTime: {
										title: '{{LANG_DATE}}',
										width: '20%'
									}
								}
							});    

							//Load audit list from server
							$('#auditlog').jtable('load');
						});
					</script>
					<button type="button" class="btn btn-danger" onclick="confirmDlg('{{LANG_CFMCLEARLOG}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/main/clearlog');return false;"><span class="icon-remove"></span>&nbsp;{{LANG_CLEARAUDITLOG}}</button><br /><br />
					<div id="auditlog"></div>
					{% endif %}
				</div>
			</div><!-- END Tab UI -->
		{% endif %}
{% endblock %}