{% extends "master.twig" %}
{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}
{% block bodyRender %}
{{BREADCRUMB|raw}}<br />

<div id="loadingBackGround">
	<div id="loadingMessage">
		<strong>{{LANG_PROCESSINGFORM}}</strong><br />
		{{IMG("themes/"~THEME_NAME~"/images/loading.gif")|raw}}
	</div>
</div>
<div id="acpFrm"></div>

	<script type="text/javascript">
	$(function(){
		//global loading message.
		$('#loadingBackGround').hide()  // hide it initially
		.ajaxStart(function() {
			$(this).show();
		}) //END .ajaxStart
		.ajaxStop(function() {
			$(this).hide();
		}); //END .ajaxStart
		
		//User Menu
		var icons = {
			header: "ui-icon-circle-arrow-e",
			headerSelected: "ui-icon-circle-arrow-s"
		};

		$("#ucpMenu").accordion({
			header: "h3",
			icons: icons,
			autoHeight: false,
			collapsible: true 
		});
	});
	</script>

<div id="contentwrapper">
	<div id="contentcolumn">
		<div class="innertube">&nbsp;
{% if GAC_VERSIONINFO == FALSE and GAC_SERVERINFO == FALSE and GAC_AUDITLOG == FALSE %}
<p>{{LANG_ACPINFO}}</p>
{% else %}
<p>{{LANG_ACPINFO}}</p>
<script type="text/javascript">
	$(function(){
		//user profile tabbing.
		$("#tabs").tabs();
	});
</script>
<div id="tabs">
	<ul>
		{% if GAC_VERSIONINFO == TRUE %}
		<li><a href="#version">{{LANG_VERSIONINFO}}</a></li>
		{% endif %}
		{% if GAC_SERVERINFO == TRUE %}
		<li><a href="#server">{{LANG_SERVERINFO}}</a></li>
		{% endif %}
		{% if GAC_AUDITLOG == TRUE %}
		<li><a href="#audit">{{LANG_AUDITLOG}}</a></li>
		{% endif %}
	</ul>
	<div id="version">
		{% if GAC_VERSIONINFO == TRUE %}
			{{VERSIONDATA_MSG}}
			<hr />
			{{LANG_INSTALLEDVERSION}}: <strong>{{VERSION_MAJOR}}.{{VERSION_MINOR}}.{{VERSION_PATCH}} {{VERSION_BUILD}}</strong><br />
			{% if VERSIONDATA_PATCH_LINK != "" %}
			<a href="{{VERSIONDATA_PATCH_LINK}}">{{LANG_VERSIONDATA_PATCH_LINK}}</a><br />
			{{LANG_VERSIONDATA_SEVERITY}}: {{VERSIONDATA_SEVERITY}}<br />
			{{VERSIONDATA_NOTES|raw}}<br /><br />
			{% endif %}
		{% endif %}
	</div>
	<div id="server">
		{% if GAC_SERVERINFO == TRUE %}
		{{LANG_DATABASE_PLATFORM}}: <strong>{{DATABASE_PLATFORM}}</strong><br />
		{{LANG_DATABASE_VERSION}}: <strong>{{DATABASE_VERSION}}</strong><br />
		{{LANG_PHP_VERSION}}: <strong>{{PHP_VERSION}}</strong> [{{URL_TAG("/ACP/phpinfo", LANG_PHPINFO)|raw}}]
		{% endif %}
	</div>
	<div id="audit">
		{% if GAC_AUDITLOG == TRUE %}
		<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jtable.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function () {        
			   $('#auditlog').jtable({
					messages: lang,
					title: '{{LANG_AUDITLOG}}', //title of grid.
					paging: true, //allow paging
					pageSize: '{{PER_PAGE}}', //indicates number of rows in a page.
					sorting: true, //allow sorting
					defaultSorting: 'formattedDateTime DESC', //sets the default column to sort by and how.
					columnResizable: true, //allows user to resize data columns by dragging.
					columnSelectable: false, //allows user to show/hide data columns by right clicking table header.
					selecting: false, //Enable selecting
					multiselect: false, //Allow multiple selecting
					selectingCheckboxes: false, //Show checkboxes on first column
					selectOnRowClick: false, //Enable this to only select using checkboxes
					ajaxSettings: { type: 'GET' },
					actions: {
						listAction: '{{BOARD_URL}}grid/listacpaudit'
					},
					fields: {
						Username: {
							title: '{{LANG_PERFORMEDBY}}',
							width: '10%'
						},
						IP: {
							title: '{{LANG_AUDITIP}}',
							width: '10%'
						},
						Action: {
							title: '{{LANG_ACTION}}',
							width: '60%'
						},
						formattedDateTime: {
							title: '{{LANG_DATE}}',
							width: '20%'
						}
					}
				});    

				//Load audit list from server
				$('#auditlog').jtable('load');
			});
		</script>
		<button type="button" class="btn btn-danger" onclick="confirmDlg('{{LANG_CFMCLEARLOG}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/main/clearlog');return false;"><span class="icon-remove"></span>&nbsp;{{LANG_CLEARAUDITLOG}}</button><br /><br />
		<div id="auditlog"></div>
		{% endif %}
	</div>
</div><!-- END Tab UI -->
{% endif %}
			
		</div><!-- END content wrapper -->
	</div><!-- END Content Column -->
</div><!-- END Column wrapper -->

<div id="leftcolumn">
	<div class="innertube">&nbsp;
		<div id="ucpMenu">
			<div>
				<h3><a href="#">{{LANG_BOARDMENU}}</a></h3>
				<div>
					<ul>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_BOARDSETUP}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/setup');return false;">{{LANG_BOARDSETUP}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWPARENTBOARD}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/newboard/1');">{{LANG_NEWPARENTBOARD}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWBOARD}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/newboard/2');">{{LANG_NEWBOARD}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWSUBBOARD}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/newboard/3');">{{LANG_NEWSUBBOARD}}</a></li>
					</ul>
				</div>
			</div>
			<div>
				<h3><a href="#">{{LANG_GENERALMENU}}</a></h3>
				<div>
					<ul>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_MANAGESTYLES}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/styles');">{{LANG_MANAGESTYLES}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWSLETTER}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/newsletter');">{{LANG_NEWSLETTER}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_SMILES}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/smiles');">{{LANG_SMILES}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_CENSOR}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/general/censor');">{{LANG_CENSOR}}</a></li>
					</ul>
				</div>
			</div>
			<div>
				<h3><a href="#">{{LANG_SETTINGS}}</a></h3>
				<div>
					<ul>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_USERSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/user');">{{LANG_USERSETTINGS}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_BOARDSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/board');">{{LANG_BOARDSETTINGS}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_ANNOUNCEMENTSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/announcement');">{{LANG_ANNOUNCEMENTSETTINGS}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_MAILSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/mail');">{{LANG_MAILSETTINGS}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_ATTACHMENTSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/settings/attachment');">{{LANG_ATTACHMENTSETTINGS}}</a></li>
					</ul>
				</div>
			</div>
			<div>
				<h3><a href="#">{{LANG_GROUPMENU}}</a></h3>
				<div>
					<ul>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_GROUPSETUP}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/group/setup');">{{LANG_GROUPSETUP}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_MANAGEPROFILE}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/group/profiles');">{{LANG_MANAGEPROFILE}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_NEWGROUP}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/group/newgroup');">{{LANG_NEWGROUP}}</a></li>
					</ul>
				</div>
			</div>
			<div>
				<h3><a href="#">{{LANG_USERMENU}}</a></h3>
				<div>
					<ul>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_BANLIST}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/user/banlist');">{{LANG_BANLIST}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_BLACKLIST}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/user/blacklist');">{{LANG_BLACKLIST}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_USERPRUNE}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/user/prune');">{{LANG_USERPRUNE}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_ACTIVATE}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/user/activate');">{{LANG_ACTIVATE}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_WARNLOG}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/user/warnlog');">{{LANG_WARNLOG}}</a></li>
						<li><a href="#" onclick="buildModal('acpFrm', '{{LANG_USERMGR}}', '{{BOARD_URL}}{{INDEX_PAGE}}ACP/user/manage');">{{LANG_USERMGR}}</a></li>
					</ul>
				</div>
			</div>
		</div><!-- END ucpMenu -->
	</div><!-- END Content Wrapper -->
</div><!-- END Left Column -->

{% endblock %}