{% extends "master.twig" %}
{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}
{% block bodyRender %}
{{BREADCRUMB|raw}}<br />

<div id="loadingBackGround">
	<div id="loadingMessage">
		<strong>{{LANG_PROCESSINGFORM}}</strong><br />
		{{IMG("themes/"~THEME_NAME~"/images/loading.gif")|raw}}
	</div>
</div>
<div id="ucpFrm"></div>

	<script type="text/javascript">
	$(function(){
		
		//global loading message.
		$('#loadingBackGround').hide()  // hide it initially
		.ajaxStart(function() {
			$(this).show();
		}) //END .ajaxStart
		.ajaxStop(function() {
			$(this).hide();
		}); //END .ajaxStart
		
		//setup coming soon message dialog.
		$('#confirmMsg').html("Sorry, this section is under work. This should be working by v3.0.0 RC 3.<br /><br />I apologize for the inconvenience.<br /><br />~Elite Bulletin Board Development Team");

		//setup dialog.
		$("#confirmDlg").dialog({
			title: 'Under Work',
			width: 460
		});

		$('.brkn').click(function(){
			//show dialog.
			$("#confirmDlg").dialog('open');
		});

	});
	
	</script>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">{{LANG_ACCTMENU}}</li>				
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_UPDATEEMAIL}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/email/');return false;">{{LANG_UPDATEEMAIL}}</a></li>
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_CHANGEPASSWORD}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/password/');">{{LANG_CHANGEPASSWORD}}</a></li>
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_MANAGEATTACHMENTS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/attachments/', 700);">{{LANG_MANAGEATTACHMENTS}}</a></li>
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_MANAGESUBSCRIPTIONS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/subscriptions/', 700);">{{LANG_MANAGESUBSCRIPTIONS}}</a></li>
					<li class="nav-header">{{LANG_PROFILEMENU}}</li>
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_EDITPROFILE}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/profile/');">{{LANG_EDITPROFILE}}</a></li>
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_EDITUSERSETTINGS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/settings/');">{{LANG_EDITUSERSETTINGS}}</a></li>
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_EDITMESSENGER}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/messenger/');">{{LANG_EDITMESSENGER}}</a></li>
					<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_EDITSIG}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/signature/', 735);">{{LANG_EDITSIG}}</a></li>
					<li class="nav-header">{{LANG_PRIVACYMENU}}</li>
					<li><a href="#" class="brkn">{{LANG_FRIENDSLIST}}</a></li>
					<li><a href="#" class="brkn">{{PROFILESETTINGS}}</a></li>
				</ul>
			</div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
			<div id="tabs">
				<ul>
					<li><a href="#bio">About Me</a></li>
					<li><a href="#friends">{{LANG_FRIENDSLIST}}</a></li>
				</ul>
				<div id="bio">
					<!-- START UsrMenu -->
					<strong>{{LANG_BTNVIEWPROFILE}} - {{LOGGEDUSER}}</strong>
					<!-- END UsrMenu -->
					<img src="{{AVATAR}}" alt="{{LOGGEDUSER}}'s Avatar" title="{{LOGGEDUSER}}'s Avatar" class="avatar" />
					<p>{{LANG_RANK}}:&nbsp;{{RANK}}</p>
					<p>{{LANG_POSTCOUNT}}: {{POSTCOUNT}}</p>
					<p>{{LANG_EMAIL}}: {{EMAIL}}</p>
					<p>{{LANG_JOINDATE}}: {{JOINED|PostedDate(TimeFormat, TimeZone)}}</p>
					{% if MSN != "" %}
					<p>{{LANG_MSN}}: {{MSN}}</p>
					{% endif %}
					{% if AOL != "" %}
					<p>{{LANG_AOL}}: {{AOL}}</p>
					{% endif %}
					{% if ICQ != "" %}
					<p>{{LANG_ICQ}}: {{ICQ}}</p>
					{% endif %}
					{% if YAHOO != "" %}
					<p>{{LANG_YAHOO}}: {{YAHOO}}</p>
					{% endif %}
					{% if WWW != "" %}
					<p>{{LANG_WWW}}: <a href="{{WWW}}" target="_blank">{{WWW}}</a></p>
					{% endif %}
					{% if LOCATION != "" %}
					<p>{{LANG_LOCATION}}: {{LOCATION}}</p>
					{% endif %}
				</div>
				<div id="friends">
					<p>Friends List coming v3.0.0 RC3.</p>
				</div>
			</div><!-- END Tab UI -->
		</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->

<script type="text/javascript">
$(function(){
	//user profile tabbing.
	$("#tabs").tabs();
});
</script>
{% endblock %}