{% extends "master.twig" %}
{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}
{% block bodyRender %}
{{BREADCRUMB|raw}}<br />

<script type="text/javascript" src="{{BOARD_URL}}js/jquery.jtable.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {        
       $('#messagelist').jtable({
			messages: lang,
			title: '{{LANG_PMS}}', //title of grid.
			paging: true, //allow paging
			pageSize: '{{PER_PAGE}}', //indicates number of rows in a page.
			sorting: true, //allow sorting
			defaultSorting: 'formattedDateTime DESC', //sets the default column to sort by and how.
			columnResizable: true, //allows user to resize data columns by dragging.
			columnSelectable: false, //allows user to show/hide data columns by right clicking table header.
			deleteConfirmation: true, //can toggle prompt or override plugin's default prompt.
			selecting: true, //Enable selecting
			multiselect: false, //Allow multiple selecting
			selectingCheckboxes: false, //Show checkboxes on first column
			selectOnRowClick: true, //Enable this to only select using checkboxes
			ajaxSettings: { type: 'GET' },
            actions: {
				listAction: '{{BOARD_URL}}grid/listmessages/{{FOLDER}}'
			},
			fields: {
				id: {
					key: true,
					create: false,
					edit: false,
					list: false
				},
				Read_Status: {
					title: '&nbsp;',
					sorting: false,
					display: function (data) {
						if (data.record.Read_Status == "0") {
							return '<div class="centerText"><span class="icon-envelope icon-2x"></span></div>';
						} else {
							return '<div class="centerText"><span class="icon-envelope-alt icon-2x centerText"></span></div>';
						}
					}
				},
				Subject: {
					title: '{{LANG_SUBJECT}}',
					width: '40%'
				},
				Username: {
					title: '{{LANG_SENDER}}',
					width: '20%'
				},
				formattedDateTime: {
					title: '{{LANG_DATE}}',
					width: '30%'
				},
				CmdArchiveMessage: {
					title: '',
					width: '3%',
					sorting: false,
					edit: false,
					create: false,
					display: function (data) {
						var $img = $('<div class="icon-folder-close icon-2x" style="cursor: pointer;" title="{{LANG_ARCHIVE_MESSAGE}}"></div>');
						//delete selected record when user clicks the image.
						$img.click(function (e) {
							e.stopPropagation(); //prevent the select event from bubbling up.
							var btnArchive = {};
							btnArchive['{{LANG_YES}}'] = function() {
								$(this).dialog('close');
								$.get('{{BOARD_URL}}ucpform/archivepmmessage/'+data.record.id, function(res) {
									//render JSON.
									var json = $.parseJSON(res);
									if (json.status == "success") {
										//reload grid.
										$('#messagelist').jtable('load');
									}
									FormResults(json.status, json.msg);
								}).error(function(res) {
									//render JSON.
									var json = $.parseJSON(res);
									FormResults(json.status, json.msg);
								});
							 };
							 btnArchive['{{LANG_NO}}'] = function() {
								 $(this).dialog("close");
							 };

							$("#dlgConf").text('{{LANG_CONFIRM_ARCHIVE}}');
							$("#dlgConf").dialog({
								modal: true,
								width: '300',
								height: '125',
								title:  '{{LANG_ARCHIVE_MESSAGE}}?',
								closeOnEscape: true,
								buttons: btnArchive
							});
						});
						//Return image to show on the row.
						return $img;
					}
				},
				CmdDeleteMessage: {
					title: '',
					width: '3%',
					sorting: false,
					edit: false,
					create: false,
					display: function (data) {
						var $img = $('<div class="icon-remove icon-2x" style="cursor: pointer;" title="{{LANG_DELETE_PM}}"></div>');
						//delete selected record when user clicks the image.
						$img.click(function (e) {
							e.stopPropagation(); //prevent the select event from bubbling up.
							var btnDelete = {};
							btnDelete['{{LANG_YES}}'] = function() {
								$(this).dialog('close');
								$.get('{{BOARD_URL}}ucpform/deletemessage/'+data.record.id, function(res) {
									//render JSON.
									var json = $.parseJSON(res);
									if (json.status == "success") {
										//reload grid.
										$('#messagelist').jtable('load');
									}
									FormResults(json.status, json.msg);
								}).error(function(res) { 
									//render JSON.
									var json = $.parseJSON(res);
									FormResults(json.status, json.msg);
								});
							 };
							 btnDelete['{{LANG_NO}}'] = function() {
								 $(this).dialog("close");
							 };

							$("#dlgConf").text('{{LANG_CONFIRM_DELETE}}');
							$("#dlgConf").dialog({
								modal: true,
								width: '300',
								height: '125',
								title:  '{{LANG_DELETE_PM}}?',
								closeOnEscape: true,
								buttons: btnDelete
							});
						});
						//Return image to show on the row.
						return $img;
					}
				}
			},
            //Register to selectionChanged event to hanlde events
            selectionChanged: function () {
                //Get all selected rows
                var $selectedRows = $('#messagelist').jtable('selectedRows');
				var record = $selectedRows.data('record');
                if ($selectedRows.length == 1) {
					gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/users/viewmessage/'+record.id);
                }
            }
        });    
		
		//Load user list from server
		$('#messagelist').jtable('load');
    });
</script>

<div id="messagelist"></div>
<div id="dlgConf" class="hideElement"></div>
{% endblock %}