{% extends "master.twig" %}
{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}
{% block bodyRender %}
{{BREADCRUMB|raw}}<br />

<div id="dlgConf"></div>
<div id="pmFrm"></div>
<div class="block" id="block-text">
	<div class="content">
		<div class="inner">
			<p class="first">
                <strong>{{LANG_SENDER}}:</strong> {{SENDER}}<br />
				<strong>{{LANG_RECEIVER}}:</strong> {{RECEIVER}}<br />
				<strong>{{LANG_SUBJECT}}:</strong> {{SUBJECT}}<br />
				<strong>{{LANG_POSTED_ON}}:</strong> {{POSTED_ON|PostedDate(TimeFormat, TimeZone)}}
			</p>
			<hr />
			<p>
				{{nl_2_br(CensorFilter(FormatMsg(0, 1, 0, 1, 1, PM_BODY)))|raw}}
			</p>
			<hr />
			<button type="button" id="juiBtnReply" class="btn btn-primary"><span class="icon-comment"></span>&nbsp;{{LANG_REPLY_PM}}</button>
			<button type="button" id="juiBtnDeleteMessage" class="btn btn-danger"><span class="icon-remove"></span>&nbsp;{{LANG_DELETE_PM}}</button>
			<button type="button" id="juiBtnArchiveMessage" class="btn btn-primary"><span class="icon-folder-open"></span>&nbsp;{{LANG_ARCHIVE_MESSAGE}}</button>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(function() {
		$("#juiBtnReply").click(function(){
			buildModal('pmFrm', '{{LANG_REPLY_PM}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/replypm/{{PM_ID}}', 720);
		});
		$("#juiBtnDeleteMessage").click(function(){
			var btnDelete = {};
			btnDelete['{{LANG_YES}}'] = function() {
				$(this).dialog('close');
				$.get('{{BOARD_URL}}ucpform/deletepmmessage/{{PM_ID}}', function(res) {
					//render JSON.
					var json = $.parseJSON(res);
					if (json.status == "success") {
						gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/users/messages/{{FOLDER}}');
					} else {
						FormResults(json.status, json.msg);
					}
				}).error(function(res) {
					//render JSON.
					var json = $.parseJSON(res);
					FormResults(json.status, json.msg);
				});
			 };
			 btnDelete['{{LANG_NO}}'] = function() {
				 $(this).dialog("close");
			 };

			$("#dlgConf").text('{{LANG_CONFIRM_DELETE}}');
			$("#dlgConf").dialog({
				modal: true,
				width: '300',
				height: '125',
				title:  '{{LANG_DELETE_PM}}?',
				closeOnEscape: true,
				buttons: btnDelete
			});
		});
		$("#juiBtnArchiveMessage").click(function(){
			var btnArchive = {};
			btnArchive['{{LANG_YES}}'] = function() {
				$(this).dialog('close');
				$.get('{{BOARD_URL}}ucpform/archivepmmessage/{{PM_ID}}', function(res) {
					//render JSON.
					var json = $.parseJSON(res);
					if (json.status == "success") {
						gotoUrl('{{BOARD_URL}}{{INDEX_PAGE}}/users/messages/{{FOLDER}}');
					} else {
						FormResults(json.status, json.msg);
					}
				}).error(function(res) {
					//render JSON.
					var json = $.parseJSON(res);
					FormResults(json.status, json.msg);
				});
			 };
			 btnArchive['{{LANG_NO}}'] = function() {
				 $(this).dialog("close");
			 };

			$("#dlgConf").text('{{LANG_CONFIRM_ARCHIVE}}');
			$("#dlgConf").dialog({
				modal: true,
				width: '300',
				height: '125',
				title:  '{{LANG_ARCHIVE_MESSAGE}}?',
				closeOnEscape: true,
				buttons: btnArchive
			});
		});
	});
</script>
{% endblock %}