{% extends "master.twig" %}
{% block title %}{{boardName}} - {{pageTitle}}{% endblock %}
{% block bodyRender %}
{{BREADCRUMB|raw}}<br />

<div id="loadingBackGround">
	<div id="loadingMessage">
		<strong>{{LANG_PROCESSINGFORM}}</strong><br />
		{{IMG("themes/"~THEME_NAME~"/images/loading.gif")|raw}}
	</div>
</div>
<div id="ucpFrm"></div>

<script type="text/javascript">
	$(function(){
		
		//global loading message.
		$('#loadingBackGround').hide()  // hide it initially
		.ajaxStart(function() {
			$(this).show();
		}) //END .ajaxStart
		.ajaxStop(function() {
			$(this).hide();
		}); //END .ajaxStart
		
		//User Menu
		var icons = {
			header: "ui-icon-circle-arrow-e",
			headerSelected: "ui-icon-circle-arrow-s"
		};

		$("#ucpMenu").accordion({
		header: "h3",
		icons: icons,
		autoHeight: false,
		collapsible: true });

		//setup coming soon message dialog.
		$('#confirmMsg').html("Sorry, this section is under work. This should be working by v3.0.0 RC 2.<br /><br />I apologize for the inconvenience.<br /><br />~Elite Bulletin Board Development Team");

		//setup dialog.
		$("#confirmDlg").dialog({
			title: '<span class="ui-icon ui-icon-alert" style="float: left;margin-right: 4px;"></span>Under Work',
			width: 460
		});

		$('.brkn').click(function(){
			//show dialog.
			$("#confirmDlg").dialog('open');
		});

		//process friend request.
		$('#addfriend').click(function(e){
			e.preventDefault();
			$.get('{{BOARD_URL}}ucpform/requestfriendship/{{USER_ID}}', function(res) {
				//render JSON.
				var json = $.parseJSON(res);
				FormResults(json.status, json.msg);
			}).error(function(res) {
				//render JSON.
				var json = $.parseJSON(res);
				FormResults(json.status, json.msg);
			});
		});
		
		//process user blocking
		$('#blockuser').click(function(e){
			e.preventDefault();
			$.get('{{BOARD_URL}}ucpform/blockuser/{{USER_ID}}', function(res) {
				//render JSON.
				var json = $.parseJSON(res);
				FormResults(json.status, json.msg);
			}).error(function(res) {
				//render JSON.
				var json = $.parseJSON(res);
				FormResults(json.status, json.msg);
			});
		});

	});
</script>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span3">
			<div class="well sidebar-nav">
				<ul class="nav nav-list">
					<li class="nav-header">{{LANG_UOPTIONS}}</li>				
					<li><a href="#" id="addfriend">{{LANG_ADDFRIEND}}</a></li>
					<li><a href="#" id="blockuser">{{LANG_BLOCKUSER}}</a></li>
					{#<li><a href="#" onclick="buildModal('ucpFrm', '{{LANG_MANAGEATTACHMENTS}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/attachments/', 700);">{{LANG_MANAGEATTACHMENTS}}</a></li> {# Report User #}
				</ul>
			</div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
			<div id="tabs">
				<ul>
					<li><a href="#bio">About Me</a></li>
					<li><a href="#comments">Comments/Status</a></li>
					<li><a href="#notes">Notes/Blog</a></li>
					<li><a href="#friends">{{LANG_FRIENDSLIST}}</a></li>
				</ul>
				<div id="bio">
					<!-- START UsrMenu -->
					<strong>{{LANG_BTNVIEWPROFILE}} - {{USERNAME}}</strong>
					<hr />
					<a href="{{BOARD_URL}}{{INDEX_PAGE}}search/searchpostbyuser/{{USERNAME}}">{{LANG_FINDTOPICS}}</a> -
					<a href="{{BOARD_URL}}{{INDEX_PAGE}}search/searchtopicbyuser/{{USERNAME}}">{{LANG_FINDPOSTS}}</a> -
					<a href="#" onclick="buildModal('newPM', '{{LANG_POSTPM}}', '{{BOARD_URL}}{{INDEX_PAGE}}ucpform/newpm/{{USER_ID}}',720);">PM {{USERNAME}}</a>
					<hr />
					<!-- END UsrMenu -->
					<img src="{{AVATAR}}" alt="{{USERNAME}}'s Avatar" title="{{USERNAME}}'s Avatar" class="avatar" />
					<p>{{LANG_RANK}}:&nbsp;{{RANK}}</p>
					<p>{{LANG_POSTCOUNT}}: {{POSTCOUNT}}</p>
					<p>{{LANG_EMAIL}}: {{EMAIL}}</p>
					<p>{{LANG_JOINDATE}}: {{JOINED|PostedDate(TimeFormat, TimeZone)}}</p>
					{% if MSN != "" %}
					<p>{{LANG_MSN}}: {{MSN}}</p>
					{% endif %}
					{% if AOL != "" %}
					<p>{{LANG_AOL}}: {{AOL}}</p>
					{% endif %}
					{% if ICQ != "" %}
					<p>{{LANG_ICQ}}: {{ICQ}}</p>
					{% endif %}
					{% if YAHOO != "" %}
					<p>{{LANG_YAHOO}}: {{YAHOO}}</p>
					{% endif %}
					{% if WWW != "" %}
					<p>{{LANG_WWW}}: <a href="{{WWW}}" target="_blank">{{WWW}}</a></p>
					{% endif %}
					{% if LOCATION != "" %}
					<p>{{LANG_LOCATION}}: {{LOCATION}}</p>
					{% endif %}
				</div>
				<div id="comments">
					<p>Comment box system coming v3.0.0 RC2.</p>
				</div>
				<div id="notes">
					<p>note/blog system coming v3.0.0 RC2.</p>
				</div>
				<div id="friends">
					<p>Friends List coming v3.0.0 RC2.</p>
				</div>
			</div><!-- END Tab UI -->
		</div><!--/span-->
	</div><!--/row-->
</div><!--/.fluid-container-->
<script type="text/javascript">
$(function(){
	//user profile tabbing.
	$("#tabs").tabs();
});
</script>
{% endblock %}