<div class="block" id="block-forms-2">
    <div class="content">
		<h2 class="title">{{LANG_BTNREPLY}}</h2>
        <div class="inner">
			<!-- validation box. -->
			<div class="hideElement centerContainer alert alert-error" id="div_ErrMsg" style="width: 60%;">
				<strong>{{LANG_ERROR}}: </strong><br />
				<span id="validateRes"></span>
			</div>

			{{ACPNEWBOARDFORM|raw}}
			<div class="columns buffer">
				<div class="column left">
					<div class="group">
						<label class="label">{{LANG_BOARDNAME}}</label>
						<div class="fieldWithErrors">
							<span id="error_board_name" class="error"></span>
							<input type="text" name="board_name" class="text_field" id="board_name" />
						</div>
					</div>
					{% if TYPE == 2 or TYPE == 3 %}
					<div class="group">
						<label class="label">{{LANG_DESCRIPTION}}</label>
						<div class="fieldWithErrors">
							<span id="error_description" class="error"></span>
							<textarea id="description" name="description" class="textarea_medium"></textarea>
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_CATEGORY}}</label>
						<div class="fieldWithErrors">
							<span id="error_category" class="error"></span>
							{{CATEGORY_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_POSTINCREMENT}}</label>
						<div class="fieldWithErrors">
							<span id="error_increment" class="error"></span>
							{{POSTINCREMENT_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_BBCODE}}</label>
						<div class="fieldWithErrors">
							<span id="error_bbcode" class="error"></span>
							{{BBCODE_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_SMILES}}</label>
						<div class="fieldWithErrors">
							<span id="error_smiles" class="error"></span>
							{{SMILES_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_IMG}}</label>
						<div class="fieldWithErrors">
							<span id="error_img" class="error"></span>
							{{IMG_SELECT|raw}}
						</div>
					</div>
					{% endif %}
				</div>
				<div class="column right">
					<div class="group">
						<label class="label">{{LANG_READACCESS}}</label>
						<div class="fieldWithErrors">
							<span id="error_readaccess" class="error"></span>
							{{READACCESS_SELECT|raw}}
						</div>
					</div>
					{% if TYPE == 2 or TYPE == 3 %}
					<div class="group">
						<label class="label">{{LANG_WRITEACCESS}}</label>
						<div class="fieldWithErrors">
							<span id="error_writeaccess" class="error"></span>
							{{WRITEACCESS_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_REPLYACCESS}}</label>
						<div class="fieldWithErrors">
							<span id="error_replyaccess" class="error"></span>
							{{REPLYACCESS_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_POLLACCESS}}</label>
						<div class="fieldWithErrors">
							<span id="error_pollaccess" class="error"></span>
							{{POLLACCESS_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_VOTEACCESS}}</label>
						<div class="fieldWithErrors">
							<span id="error_voteaccess" class="error"></span>
							{{VOTEACCESS_SELECT|raw}}
						</div>
					</div>
					<div class="group">
						<label class="label">{{LANG_ATTACHMENTACCESS}}</label>
						<div class="fieldWithErrors">
							<span id="error_attachaccess" class="error"></span>
							{{ATTACHMENTACCESS_SELECT|raw}}
						</div>
					</div>
					{% endif %}
				</div>
			</div>
			<div class="group navform buffer">
				<button class="button" type="submit">
				  <span class="icon-plus-sign"></span>&nbsp;{{LANG_NEWBOARD}}
				</button>
			</div>
			<input type="hidden" name="type" id="type" value="{{TYPE}}" />
			</form>
        </div>
    </div>
</div>
<script type="text/javascript">
$('#board_name').focus();
new FormValidator('frmNewBoard', [{
    name: 'board_name',
    display: '{{LANG_BOARDNAME}}',
    rules: 'required|max_length[50]'
}
{% if TYPE == 2 or TYPE == 3 %}
, {
    name: 'description',
	display: '{{LANG_DESCRIPTION}}',
    rules: 'required|max_length[100]'
}, {
    name: 'category',
    display: '{{LANG_CATEGORY}}',
    rules: 'required'
}
{% endif %}
], function(errors, event) {
    if (errors.length > 0) {
        $('#validateRes').empty();
        $('#validateRes').append(errors.join('<br />'));
        $('#div_ErrMsg').show();
    } else if (event != undefined && errors.length == 0) {
		event.preventDefault(); //stay on page.
		processForm('frmNewBoard', function() {
			$('#acpFrm').dialog('close');
		}, function() { 
			FormResults("error", "{{LANG_FORMFAILURE}}");
			$('#frmNewBoard')[0].reset();
			$('#frmNewBoard').removeClass('ui-state-error');
		});
    }
    
});
</script>