<script type="text/javascript">
$(document).ready(function () {
	$('#sortable').sortable({
		scrollSpeed: 1, //will no longer scroll endlessly.
		axis: 'y', //can only drag it up/down.
		placeholder: 'ui-state-highlight',
		forcePlaceholderSize: true,
		update: function(e, ui){
			var newOrdering = $('#sortable').sortable('toArray');
			//loop over each value in the array and get the ID & index.
			$.each(newOrdering, function(intIndex, objValue) {
				processGetRequest("{{BOARD_URL}}{{INDEX_PAGE}}ACP/boards/reorderboard/"+objValue+"/"+intIndex, null, function() { 
					FormResults("error", "{{LANG_FORMFAILURE}}");
				});
			});
		}
	});
});
</script>

<p>
{{LANG_TEXT}}
</p>

<ul id="sortable">
{% for b in BOARDS %}
	<li class="sort-panel" id="{{b.id}}">{{b.Board}}</li>
{% endfor %}
</ul>